*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
   font-family: "Montserrat", sans-serif;
}

.container{
  width: 100%;
  margin: 0 auto;
  max-width: 116rem;
}

.first-layer{
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-image: url("./img/Sections_background/section-1header.jpg");
 }

header{
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.9;
  height: 12rem;
  display: block;
  position: absolute;
  background-color:rgba(94, 93, 88, 0.6);
  
}

.header-wrap{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo{
  display: flex;
  align-items: center;  
}

.header-logo-title{
  color: #FFFFFF;
  font-size: 3.5rem;
  font-family: "Montserrat", sans-serif;
}
.header-logo-title span{
  color: #18cfab;
  font-weight: bold;
  font-family: "Montserrat" sans-serif;
}

.header-logo-img{
  margin-right: 0.8rem;
}

.header-nav{
  display: flex;
  align-self: stretch;
}
.header-nav-item{
  height: 100%;
  display: flex;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
  position: relative;
  align-items: center;
  margin-right: 2.2rem;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.header-nav-item:hover{
  color: #18CFAB;
}
.header-nav-search{
  background-image: url("./icons/png/search.png");
  background-position: center;
  background-size: contain;
  width: 2rem;
  height: 2rem; 
}
.header-nav-item:hover .header-nav-search{
  background-image: url("./icons/png/search-hover.png");
}

.header-nav-item:hover::after{
  left: 0;
  bottom: 0;
  width: 100%;
  content: "";
  height: 0.3rem;
  position: absolute;
  display: inline-block;
  background-color: #18CFAB;
}

.hero-title-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  }

.hero-theme-title{
  color: #ffffff;
  font-size: 3.5rem;
  margin-top: 37.9rem;
  margin-bottom: 2.2rem;
  font-family: "Montserrat", sans-serif;
}

.hero-theme-title span{
  color: #18CFAB;
}
.hero-text{
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 7.8rem;
  margin-bottom: 2.2rem;
}
.hero-subtext{
  color: #D4D4D4;
  font-size: 3.4rem;
  margin-bottom: 12.9rem;
  font-family: "Montserrat", sans-serif;
}
.hero-btns{
  display: flex;
  margin-bottom: 24.3rem;
}

.hero-btns--action{
  z-index: 2;
  color: #fff;
  display: block;
  font-weight: bold;
  font-size: 1.5rem;
  position: relative;
  margin-right: 2.6rem;
  text-decoration: none;
  border-radius: 0.5rem;
  letter-spacing: 0.1rem;
  padding: 1.6rem 1.8rem;
  text-transform: uppercase;
  border-top: 0.5rem solid #fff;
  font-family: "Montserrat", sans-serif;
}


.hero-btns--action:last-child{
  margin-right: 0;
}

.btn-green{
  background: #18CFAB;
}

.btn-blue{
  background: #00CBF6;
}

.advantages{
  display: flex;  
  margin-top: 0.5rem;
}
.advantages-item{
  width: 25%;
  display: flex;
  height: 37.7rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #18CFAB;
  font-family: "Montserrat", sans-serif;
}

.advantages-item:nth-child(odd){
  background-color: #1C2A33;
}

.advantages-item:nth-child(even) .advantages-item-text{
  color: #ffffff;
}

.advantages-item-figure{
  min-height: 10rem;
  margin-bottom: 5rem;
}

.advantages-item-text{
  font-size: 2rem;
  color: #18CFAB;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.section{
  padding: 10rem 0;
}

.section-heading{
  position: relative;
  padding-bottom: 3rem;
  margin-bottom: 7rem;
}

.heading-text{
  font-weight: 300;
  color: #4E4E4E;
  font-size: 3.6rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.heading-text::after,
.heading-text::before{
   content: "";
   left:50%;
   bottom: 0;
   width:8rem;
   display: block;
   height: 0.2rem;
   position: absolute;
   background-color: #18CFAB;
}
.heading-text::before{
  transform: translateX(-50%);
  bottom: 0.5rem;
}

.tabs{
  display: flex;
  list-style-type: none;
  margin-bottom: 2.3rem;
}

.tabs-title{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 7.6rem;
  background: #F8FCFE;
  border: 0.1rem solid #EDEFEF;
  cursor: pointer;
  flex-grow: 1;
   font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}
.tabs-title.tabs-title-active{
  position: relative;
  background-color: #18CFAB;
  color: #ffffff;
  border: 0.1rem solid #18CFAB;
}

.tabs-title-active::after{
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 50%;
  
  display: block;
  width: 1.5rem;
  height:1.5rem;
  background-color: #18CFAB;
  transform: rotate(45deg) translateX(-60%);
}

.tabs-content{
  list-style-type: none;
}
.tabs-article{
display: none;
}
.tabs-article-img{
  margin-right: 1.5rem;
}
.tabs-article-text{
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #777777;
}
.tabs-article-active{
  display: flex;
}

.tabs-article-text{
  font-size: 1.3rem;
}

.purchase{
  font-size: 1.6rem;
  color: #18CFAB;  
}

.purchase p{
  margin-bottom: 6.7rem;
  font-size: 1.6rem;
  color: #D8D8D8;
}

.purchase-title{
  font-size: 4rem;
  margin-bottom: 1.2rem;
}

.purchase{
  background-image:  linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),  url("./img/Sections_background/section-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work{
  background-color: #E9EDEF;
}

.trigger-list{
  display: flex;
  justify-content: center;
  margin-bottom: 7rem;
  list-style-type: none;
}
.filter-item{
   font-family: "Montserrat", sans-serif;
  color: #717171;
  cursor: pointer;
  border: 0.1rem solid #DADADA;
  font-size: 1.4rem;
  padding: 1.3rem 1.6rem;
}
.filter-item--active{
  background-color: #18CFAB;
  color: #ffffff;
  border: 0.1rem solid #18CFAB;
}
.portfolio{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 7rem;
}
.portfolio-item{
  width: 28.5rem;
  height: 21.1rem;
  position: relative;
}


.portfolio-img,.portfolio-text{
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;

}
.portfolio-img{
  opacity: 1;
}
.portfolio-text{
  opacity: 0;
  border-top: .6rem solid #18CFAB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio-item:hover .portfolio-img{
  opacity: 0;
}
.portfolio-item:hover .portfolio-text{
  opacity: 1;
}
.portfolio-action{
  display: flex;
  margin-bottom: 3rem;
}
.portfolio-link{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.3rem;
  height: 4.3rem;
  background-color: #eee;
  border: 0.2rem solid #18CFAB;
  border-radius: 50%;
  text-align: center;
  margin-right: 0.5rem;
}
.portfolio-link:hover{
  background-color: #18CFAB;
}

.portfolio-value{
  font-size: 1.4rem;
  color: #18CFAB;
  text-transform: uppercase;
  padding-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
}
.portfolio-name{
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  color: #8A8A8A;
}

.icon-link{
  background-image: url("./icons/png/link-hover.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  background-size: contain;
  width: 1.7rem;
  height: 1.7rem;
  transition: 0.2s ease-in-out;
}
.portfolio-link:hover .icon-link{
  background-image: url("./icons/png/link.png");
}
.portfolio-link:hover .icon-square{
  background-color: #fff;
}

.icon-square {
  width: 1.1rem;
  height: 1.1rem;
  background-color: #18CFAB;
  transition: 0.3s ease-in-out;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.load-more{
  display: flex;
  justify-content: center;
}
.btn-green-plus{
  border-radius: 0.5rem;
  padding: 2.6rem 3.2rem;
  font-size: 1.5rem;
  background-color: #18CFAB;
  text-decoration: none;
  color: #fff;
   font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  display: inherit;

}
.btn-green-plus::before{
  content: "";
  left: 0;
  display: inline-block;
  margin-right: 1.5rem;
  width: 1.8rem;
  height: 1.9rem;
  background-image: url("./icons/png/plus.png");
  background-position: center;
  background-repeat: no-repeat;
}


.news-list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5rem 3rem;
}
.news-item{
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.news-item:hover .news-date{
  background-color: #18CFAB;
}
.news-item:hover .news-title{
  color: #18CFAB;
}

.news-image{
  position: relative;
  max-width: 26.3rem;
  max-height: 20.8rem;
}
.news-image img{
  width: 100%;
  height: 100%;
  min-height: 20.8rem;

}
.news-date{
  position: absolute;
  top: 0;
  right:0;
  width: 7rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.4rem 0.4rem;
  align-items: center;
  background-color: #203E38;
  transition: 0.3s ease-in-out;
}
.news-date span{
  font-size: 1.6rem;
  color:#fff;
   font-family: "Montserrat", sans-serif;
}
.news-title{
   font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  color: #717171;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-weight: 800;
  transition: 0.3s ease-in-out;
}
.news-cred{
  display: flex;
  margin-left: 1.2rem;
   font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  list-style-type: none;
  color: #7777;
}
.cred-item{
  padding-right: 1rem;
  border-right: 0.1rem solid #7777;
}
.cred-item:last-child{
  padding-left: 1rem;
  border: none;

}

.testimonials{
  background-image:  linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),  url("./img/Sections_background/section-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

.testimonials .heading-text{
  color: #fff;
}


.testimonial-content {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 8rem;
}

.testimonial-content::before {
  content: url(./icons/png/blockq.png);
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.testimonial-text {
  font-family: #18CFAB;
  font-weight: 300;
  font-size: 1.6rem;
  text-align: center;
  color: #BBBBBB;
  line-height: 3rem;
  margin-bottom: 3.7rem;
}

.testimonial-author {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.author-credentials {
  font-family: "Montserrat", sans-serif;
  color: #18CFAB;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 800;
  letter-spacing: 1px;
}

.author-credentials {
  font-family: "Montserrat", sans-serif;
  color: #18CFAB;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 800;
  letter-spacing: 1px;
}

.author-position {
  font-family: "Montserrat", sans-serif;
  color: #BBBBBB;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 5rem;
}

.author-img {
  width: 14.3rem;
  height: 14.3rem;
  border-radius: 50%;
  border: .6rem solid rgba(31, 218, 181, 0.3);
}


.slider-nav {
  margin-top: 5.7rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 48.3rem;

}

.slider-dot {
  margin-right: 2.7rem;
  padding: 1.5rem 0;
}
.slider-dot.active-dot {
  position: relative;
  top: -10px;
}
.slider-dot:last-child {
  margin-right: 0;
}

.dot-img {
  width: 6rem;
  height: 6rem;
  border: .3rem solid rgba(31, 218, 181, 0.3);
  border-radius: 50%;
}





.slider-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.1rem;
  height: 3.1rem;
  background-color: transparent;
  border: 0.1rem solid #BBBBBB;
  transition: 0.3s ease-in-out;
}
.prev{
  position: relative;
  z-index: 13;
}
.next{
  position: relative;
  z-index: 13;
}

.slider-btn:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.slider-btn:disabled {
  background-color: transparent;
  border: 0.1rem solid #BBBBBB;
  transition: 0.3s ease-in-out;
}
.slider-btn:hover{
  background-color: #18CFAB;
}

.icon-arrow-left {
  background-image: url("./icons/png/arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
}

.icon-arrow-right {
  background-image: url("./icons/png/arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
  transform: rotate(-180deg);
}
.slider-actions {
  position: relative
}

.slick-arrow.slick-hidden{
  display: flex;
}

.slick-dots{
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 5.1rem;
}
.slick-dots .slick-active{
  position: relative;
  top: -10px;
}

.slick-dots li > img{
  display: block;
  margin-right: 3rem;
  border: 0.3rem  solid rgba(31, 218, 181, .6);
  border-radius: 50%;
}

.slick-dots li:last-child > img{
  margin-right: 0;
}

.slider-btns{
  position: absolute;
  bottom: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.slider-wrap{
  position: relative;
}

.footer{
  padding: 4.8rem 0;
  background: #22353F;
}

.footer p{
   font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  color: #AEAEAE;
  text-align: center;
}

.footer span{
   font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  color: #18cfab;
}

.loader{
 display: flex;
 justify-content: center;
}